# kivy init configuration
config.ini

# before deploy
before_prod.todo.md

# virtual env
venv

# python compile folders
__pycache__

# internationnalization
.*.swp
messages.pot
po


# vscode extension : python import helper
.vscode/PythonImportHelper**.json
