# kivy init configuration
config.ini

# before deploy
before_prod.todo.md

# virtual env
venv

# python compile folders
__pycache__

# internationnalization
.*.swp

# vscode extension
.idea
.vscode
languagepacks.json

# build apk
.buildozer/
